html,body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.Logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

svg{
    max-width: 30%;
}

.Logo svg:first-child{
	padding-left: 15%;
}

.Logo svg:last-child{
	padding-right: 15%;
	margin-top: 0.5%;
}

.Logo svg:nth-child(even){
	margin: 1% 0 1% 0;
}

@media screen and (max-width: 620px){
	.Logo svg:first-child{
		width: 0;
		padding-left:0;
	}
	
	.Logo svg:last-child{
		width: 0;
		padding-right: 0;
	}
}

body {
	background-color: #ece8e5;
}

nav {
	height: 40px;
	width: 100%;
	background: #eebde9;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	border-bottom: 2px solid #f38de9;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 40px;
}

nav li {
	display: inline;
	float: left;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}

nav li a {
	border-right: 1px solid #f38de9;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}

nav a:hover, nav a:active {
	background-color: #f38de9;
}

nav a#pull {
	display: none;
}

@media screen and (max-width: 600px) {
	nav {
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #f38de9;
		border-right: 1px solid #f38de9;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0; 
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #ee52de;
		width: 100%;
		position: relative;
		text-align: center;
		padding-left: -1em;
	}
	nav a#pull:after {
		content:"";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}

	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #f38de9;
		text-align: center;
		padding-left: -1em;

	}

	.Logo{
		width: 0;
		margin: 0;
		height: 0;
	}
}

@media only screen and (min-width : 601px){
nav ul li:first-child{
	margin-left: 2.6em;
}
}

.flexMenu{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}



footer{
    display: flex;
    justify-content: center;
}

footer ul{
	min-width: 200px;
	text-align: center;

}

footer ul:first-child{
	margin-right: 10vh;
}

footer ul:last-child{
	margin-left: 10vh;
}

footer li{
    border: 1px black solid;
	list-style-type: none;
}

@media only screen and (max-width : 930px){
	footer ul:first-child{
		margin-right: 0;
	}
	
	footer ul:last-child{
		margin-left: 0;
	}


}

@media only screen and (max-width : 730px){

	footer ul{
		max-width: 200px;
		justify-content: center;
		margin-top: 10px;
	}
	footer{
		flex-wrap: wrap;
		flex-direction:column;
		justify-content: center;
	}

	footer ul{
		padding: 0;
	}

	footer ul:first-child{
		margin: 0 auto 15px auto;
	}

	footer ul:last-child{
		margin: 0 auto 15px auto;
	}

	footer ul:nth-child(even){
		margin: 0 auto 15px auto;
	}

}

.emote img{
	width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.text {
	font-size: 6vw;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text2 {
	font-size: 6vw;
	margin-top: 3vw;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textour1{
	font-size: 4vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textour2{
	text-align: justify;
	font-size: 2vw;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textour3{
	text-align: justify;
	font-size: 2vw;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cection1{
	display: inline-block;
	vertical-align:top;
	padding-top: 5em;
	margin-left: 3em;
	max-width: 45%;
	border: 1px black solid;

}

.cection1 h2{
	margin: 10% 0 0 8%;
	font-size: 1.9vw;
}

.cection1 p{
	margin-left: 3.7em;
	margin-top: 0;
	font-size: 1vw;
}

.cection2{
	display: inline-block;
	margin-left: 55px;
	max-width: 45%;
	border: 1px black solid;
}

.cection2 img{
	max-width: 100%;
}

.sieta{
	text-align: center;
	font-size: 1.5vw;
	margin: 2em 1.6em 2em 1.6em;
}

.buton a{
	font-size: 1.3em;
	text-decoration: none;
}

.buton{
	display: inline-block;
	justify-content: center;
	padding: 1em;
}



